.politica {
    display: grid;
    grid-template-columns: 60% 40%;
    max-width: 1080px;
    margin: auto;
    margin-top: 20px;
}

.politica-container {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.politica-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.politica-button button {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: var(--verde_claro);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.30);
}

.politica-button button:hover {
    cursor: pointer;
}

.politica-button .chevron {
    margin: 0;
    width: 25px;
}

.politica-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.politica-info h2{
    font-weight: 400;
    font-size: 60px;
    color: var(--verde_oscuro);
    line-height: 80px;
}

.politica-info p{    
    font-size: 15px;
}

.politica-info .buttons-container {
    margin-top: 20px;
    display: flex;
}

.politica-info a{
    margin-right: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: solid 1px var(--verde_claro);
    background-color: white;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.30);
    transition: all 500ms;
}

.politica-info a:hover {
    transition: none;
    color: white;
    background-color: var(--verde_claro);
}

.politica svg {
    color: #fff;
    width: 25px;
    margin-left: 10px;
}

.politica-imges {
    padding: 20px;
    display: flex;
    align-items: center;
}

.politica-imges img {
    max-width: 100%;
}