*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    }
    html{
    font-size: 62.5%;
    }

    :root{
        --verde_oscuro: #33743A;
        --verde_claro: #A2B715;
        --amarillo: #DCB338;
        --gris: #636363;
        --negro:#000;
    }

    /* .fondo{
        height: 100vh;
        background-image: url(/img/fondo.svg);
        background-size: cover;
    } */

    body{
        background-image: url("https://res.cloudinary.com/desarrollofrutosdelcampo/image/upload/v1624395246/img/fondo_pvws9r.svg");
        background-position: center;
        background-size: 120vw 120vh;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }

    /* HEADER */

    header{
        max-width: 1080px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        justify-content: space-between;
    }

    .izquierda{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--negro);
    }

    .logo img {
        max-width: 60px;
    }

    .orgullo{
        margin-left: 20px;
    }

    .orgullo p{
        font-size: 14px;
        line-height: 20px;
    }

    .orgullo strong {
        top: -10px;
        font-size: 25px;
    }

    .idioma{
        display: flex;
        font-size: 14px;
    }

    .idioma svg{
        margin-left: 5px;
        width: 20px;
    }

    .bandera{
        margin-left: 5px;
        width: 20px;
    }

    .nav {
        display: flex;
    }

    .nav a{
        text-decoration: none;
        color: #636363 ;
    }

    .nav a:hover{
        text-decoration: violet;
    }

    .nav li {
        font-size: 16px;;
        margin-left: 20px;
        list-style: none;
    }
    
    /* INICIO */
    
    .inicio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1080px;
        margin: auto;
        margin-top: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .info h1{
        font-weight: 400;
        font-size: 60px;
        color: var(--verde_oscuro);
        line-height: 60px;
    }

    .info p{    
        font-size: 16px;
        margin-top: 20px;
    }

    .info a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #fff;
        width: 200px;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: var(--verde_claro);
    }

    .info svg {
        color: #fff;
        width: 20px;
        margin-right: 10px;
    }

    .portada {
        padding: 20px;
    }

    .portada img {
        max-width: 100%;
    }


    /* PARTNERS */
    
    /* QUIENES SOMOS */
    
    /* POLICY-QUALITY */
    
    /* FRUTAS DE EXPORTACION */
    
    /* CERTIFICATE */
    
    /* CONTACT US */
    .contact-container {
        padding-top: 100px ;
        height: 560px;
        background-image: url(https://res.cloudinary.com/desarrollofrutosdelcampo/image/upload/v1624399332/img/fondo_verde_ai13jz.svg);
        background-repeat: no-repeat;
        background-size: 100vw;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    .grid-container {
        max-width: 1080px;
        margin: auto;
        padding: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    .right-container {
        color: #fff;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .right-container h1{
        font-size: 25px;
        margin-bottom: 5px;
    }

    .right-container p{
        font-size: 16px;
        font-weight: 300;
    }

    .right-container a{
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        color: #fff;
    }

    .left-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mapa{
        padding: 10px;
        width: 100%;
        height: 300px;
        border: 0;
        border-radius: 50px;
    }

    .buttons-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .buttons-container img {
        padding: 20px 0 0 25px;
        width: 100%;
        margin-top: 10px;
    }

    .contact-button {
        margin-right: 10px;
    }

    .footer {
        height: 70px;
        grid-column: span 1;
    }

    .footer__info{
        display: flex;
        margin: auto;
        line-height: 2;
        padding: 20px;
        max-width: 1080px;
        justify-content: space-between;
    }

    .footer__info a{
        text-decoration: none;
    }

    .footer p{
        font-weight: 200;
        font-size: 14px;
        color: #fff;
    }

    .marca{
        font-weight: 200;
        color: #fff;
        font-size: 14px;
        display: flex;
    }

    .marca img{
        margin-left: 10px;
        height: 25px;
    }

    .redes__sociales {
        height: 20px;
        display: flex;
        align-content: center;
    }
    
    .redes__sociales a {
        margin: 2px 0;
    }
    
    .redes__sociales p {
        font-size: 14px;
        line-height: 2;
        color: rgb(255, 255, 255);
    }
    
    .redes__sociales svg {
        width: 25px;
        margin-left: 5px;
        color: rgb(255, 255, 255);
    }