*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif
    }
    html{
    font-size: 62.5%;
    }
    /* HEADER */
    header{
        max-width: 1000px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        justify-content: space-between;
    }

    .izquierda{
        display: flex;
        align-items: center;
    }

    .logo img {
        max-width: 60px;
    }

    .orgullo{
        margin-left: 20px;
    }

    .orgullo p{
        font-size: 14px;
        line-height: 20px;
    }

    .orgullo strong {
        top: -10px;
        font-size: 25px;
    }

    .nav {
        display: flex;
    }

    .nav li {
        font-size: 16px;;
        margin-left: 10px;
        list-style: none;
    }
    
    /* INICIO */
    
    /* PARTNERS */
    
    /* QUIENES SOMOS */
    
    /* POLICY-QUALITY */
    
    /* FRUTAS DE EXPORTACION */
    
    /* CERTIFICATE */
    
    /* CONTACT US */